<!DOCTYPE html>
<html>
<head>
	<!-- Assume-se que só o titulo muda no head -->
 	{% block head %} {% endblock %}
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="stylesheet.css"> -->
</head>
<body>
	<!-- Assume-se o Navigator é igual em todas as páginas do trabalho -->
<!--
	<div class="navigator">
		<a href="index.html"><div class="Lista Relarórios"></div></a>
		<a href="add_relatorio_view.html"><div class="Adicionar Relarório"></div></a>
		<a href="info_ad_view.html"><div class="Informações Adicionais"></div></a>
	</div>
-->
	<!-- Real conteudo que aparece sempre que invocamos outras funçoes  -->
	base
	{% block body %} {% endblock %}

</body>
</html>