<!DOCTYPE html>
<html>
<head>
	<!-- Assume-se que só o titulo muda no head -->
 	{% block head %} {% endblock %}
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="stylesheet.css"> -->
</head>
<body>
	<!-- Assume-se o Navigator é igual em todas as páginas do trabalho -->
	<div class="navigator">
		<a href="/"><div class="top_nav">Lista CDs</div></a>
		<a href="/cds/novo"><div class="top_nav">Adicionar CD</div></a>
		<a href="/autores"><div class="top_nav">Informações Adicionais</div></a>
	</div>
	<!-- Real conteudo que aparece sempre que invocamos outras funçoes  -->

	{% block body %} {% endblock %}

</body>
</html>
