{% extends 'base.html' %}
{% block head%} <title>Homepage</title>

{% endblock %}
<!--

	Neste caso no body aparece a lista de relatórios como link para "ver relatório".( posteriormente em ver relatorio adicionamos tudo a caixas de texto de modo a ser editavel e podemos até ter uma primeira versão nao editavel e depois um botao para entrar em modo editavel)
	Na mesma linha do titulo é adicionado um botão para o apagar.
	O botão remover deve apagar o titulo e o relatório a ele associado e devolver a mesma página sem esse elemento

-->
<!-- Falta aqui a parte de procurar o relatório -->
{% block body %}
<div class='contents'>
<div class="extrow">
	{% for p in cds %}

		<div class="introw">
    		<div class="column1">
    			<a href="/cds/{{p}}">{{p}}</a>
    		</div>

   			<div class = 'column2'>
   				<form action="/update/{{p}}" method="get">
					<button type ="submit"> Update </button>
				</form>
				  <form action="/delete/{{p}}" method="post">
					  <button type ="submit"> Delete </button>
				  </form>
		    </div>
		</div>
		<th>
	{% endfor %}
</div>

{% endblock %}
