<!DOCTYPE html>
<html>
<title>TP2- Publicação Eletrónica</title>
<meta charset="utf-8">
<style>

</style>
<body>
<h1><big><center><font color="black" face="arial" size="4px">Universidade do Minho</font></big></h1>
<center><img src="logo.jpeg"/> </center>
<h2><big><center><font color="black" face="arial" size="4px">Publicação Eletrónica<HR WIDTH=30% ALIGN=CENTER></font></center> </big> </h2> 
<div> </div>
<div> </div>
<div> </div>
<h3><big><center><font color="black" face="arial" size="6px">Trabalho Prático 2</font></center> </big> </h3>
</div>
    
{% block body %} {% endblock %}
</body>
</html>
