{% extends 'base.html' %}


{% block head %}
<title>'Trabalho Prático 2'</title>
{% endblock %}
	

{% block body %}


<h6> <font color="black" face="arial" size="5px"><center><a href="/relatorios"><button style="background-color: #7d8288; color: black; padding: 15px 32px;  border: none; text-align: center;text-decoration: none; font-size: 16px;">Relatórios</button></a></font><br><br> </big> </h6></center>

<h6> <font color="black" face="arial" size="5px"><center><a class="btn btn-info" href="/pessoas"><button style="background-color: #7d8288; color: black; padding: 15px 32px;  border: none; text-align: center;text-decoration: none; font-size: 16px;">Grupo nºX</button></a></font><br><br> </big> </h6></center>
{% endblock %}
