{% extends 'base.html' %}

{% block head%}
<title>{{title}}</title>
{% endblock %}

{% block body%}
<body>
    <div class=cont1>
            <center><img src="raquel.jpg" alt="Diana Magalhães"  width="100" height="100"></center> 
            <h1><center><font color="black" face="arial" size="1px">Raquel Goncalves</font><br><br> </big></h1></center>
    </div>
    <dl>
        <dt><b>Dados</b></dt>
        <dd><b>Nº aluno:</b></dd>
        <dd><b>Contacto:</b></dd>   
    </dl>
   
    <div class=cont2>
        <center><img src="raquel.jpg" alt="Joana Oliveira"  width="100" height="100"></center>
        <h1><center><font color="black" face="arial" size="1px">Raquel Goncalves</font><br><br> 
    </div>
    <dl>
        <dt><b>Dados</b></dt>
        <dd><b>Nº aluno:</b></dd>
        <dd><b>Contacto:</b></dd>   
    </dl>

    <div class=cont1>
        <center><img src="raquel.jpg" alt="Raquel Gonçalves"  width="100" height="100"></center>
        <h1><center><font color="black" face="arial" size="1px">Raquel Goncalves</font><br><br> 
    </div>
    <dl>
        <dt><b>Dados</b></dt>
        <dd><b>Nº aluno:</b></dd>
        <dd><b>Contacto:</b></dd>   
        </dl>
</body>
{% endblock %}x-special/nautilus-clipboard

