{% extends 'base.html' %}

{% block head%}
<title>{{title}}</title>
{% endblock %}


{% block body%}
<h1>{{title}}</h1>
<ul>
    {% for p in relatorios: %}
        <li><a href="/relatorios/{{p}}">{{p}}</a></li>
    {% endfor %}
</ul>

<hr>
<h3>Adicionar provérbio</h3>
<form action="relatorios" method='post'>
    <label>Titulo</label><br>
    <input type="text" name="titulo"><br>
    <label>Conteudo</label><br>
    <input type="text" name="conteudo"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}

